#thank {
    background-color: #0f2027;
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 14px;
    align-items: center;
  }
  
  #thank h2 {
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.25rem solid orange;
    animation: blink 0.5s step-end infinite, typing1 2.5s infinite;
  }
  
  @keyframes typing1 {
    from {
      width: 0%;
    }
    to {
      width: 44%;
    }
  }
  
  @media (max-width: 799px) {
    #thank h2 {
      font-size: 25px;
      animation: mytext 3s infinite;
    }
  }
  
  @keyframes blink {
    from {
      border-color: transparent;
    }
    50% {
      border-color: orange;
    }
  }
  