
/* Scroll button */
#progress {
    position: fixed;
    bottom: 20px;
    right: 10px;
    height: 65px;
    width: 65px;
    display: none;
    place-items: center;
    border-radius: 50%;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transform: scale(.75);
    transition: 0.2s ease;
    z-index: 1;
  }
  #progress-value {
    display: block;
    height: calc(100% - 0px);
    /* width: calc(100% - 0px); */
    background-color: #04591e;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 40px;
    color: #ffffff;
  }
  button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
  }

